.hero__inner {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: auto;
  margin-top: 65px;
}
@media screen and (max-width: 768px) {
  .hero__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.hero__description {
  width: 60%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .hero__description {
    width: 100%;
  }

  .hero__description p {
    height: 100px;
  }
}

.hero__title {
  font-size: 40.1972px;
  line-height: 49px;
  color: #222222;
  height: 97.03px;
  padding-top: 78px;
}
@media screen and (max-width: 768px) {
  .hero__title {
    padding: 0;
    height: auto;
  }
}

.hero__email-id {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 41.58px;
  background: #ffffff;
  border-radius: 33.9597px;
  margin-top: 21px;
  box-shadow: 0px 13.8611px 55.4444px #f2f5fa;
}
.hero__label {
  padding-left: 17px;
  font-weight: 500;
  font-size: 11.0889px;
  line-height: 150%;
  text-align: center;
  color: rgba(115, 115, 141, 0.6);
}

.hero__button {
  width: 35%;
  height: 41.58px;

  border-radius: 33.9597px;
  background: #1943ef;
  border: solid #1943ef;
  color: #ffffff;

  font-weight: 600;
  font-size: 11.0889px;
  line-height: 13px;
}

.hero__image {
  background-image: url(../images/red_circle.svg),
    url(../images/orange_circle.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, right bottom;
  background-size: 22%, 30%;
  width: 240px;
  height: 450px;
  filter: drop-shadow(0px 6.48945px 25.9578px #f2f5fa);
}
@media screen and (max-width: 768px) {
  .hero__image {
    background: none;
  }
}
.hero__phone {
  width: 240px;
  height: 458.74px;
}
@media screen and (max-width: 768px) {
  .hero__phone {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .hero__inner {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }
}
