@import "./normalize.min.css";

@import "./animations.css";
@import "./globals.css";

@import "./header.css";
@import "./hero.css";
@import "./reminder.css";
@import "./sync.css";
@import "./convenience.css";
@import "./bottom-baner.css";
@import "./footer.css";
