.about-sync {
  width: 45%;
}

@media screen and (max-width: 768px) {
  .about-sync {
    width: 100%;
    text-align: center;
  }
}

.about-sync p.paragraph {
  height: 88.71px;
  line-height: 150%;
}

.sync__data-example {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 45%;
  height: 209.3px;

  padding: 0 13px;

  background: #ffffff;
  box-shadow: 0px 13.8611px 55.4444px #f2f5fa;
  border-radius: 20.7917px;
}

@media screen and (max-width: 768px) {
  .sync__data-example {
    width: 95%;
  }
}

.sync__example-image {
  display: flex;
  flex-direction: row;

  width: 70%;
}

.sync__general-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-left: 5%;
}

.sync__data-list {
  display: flex;
  flex-direction: column;

  margin: 0;
}

.sync__data-list img {
  margin-right: 8px;
}

.sync__data-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5%;
}
